/* general stuff */
body {
  padding: 0;
  margin: 0;
  font-family: Futura, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: rgba(255, 55, 19, 0.7);
}
 
* {
  vertical-align: top;
}
 
h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}
 
.container {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 940px;
  background: white;
  box-shadow: inset 0px 0px 8px 2px rgb(162, 162, 162);
}

/* header styles */

header {
  height: 174px;
  background: url('profiles.png')repeat ;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  box-shadow: inset 0px 0px 8px 2px rgb(162, 162, 162);
}

header h1 {
  font-family: 'Chela One', Helvetica, sans-serif;
  margin: 0;
  font-size: 50px;
  color: rgb(255, 55, 19);
  padding: 48px 0px;
  text-shadow: 2px 1px 5px #3a3535;
}


/* input styles */

input {
  font-family: 'Abel', Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 5px;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.input {
  font-family: 'Abel', Helvetica, sans-serif;
  font-weight: bold;
  width: 300px;
  display: inline-block;
  font-size: 20px;
}

.input hr {
  text-align: center;
  width: 120px;
}

.step {
  font-weight: bold;
}

.input-header {
  font-family: 'Abel', Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 5px 0px;
  font-weight: normal;
}

input.name {
  height: 30px;
}

input.age {
  height: 30px;
}

input.job {
  height: 30px;
}

input.movie {
  height: 30px;
}

input.hobbies {
  padding-bottom: 100px;
  padding-top: 5px;
}

input.email {
  height: 30px;
}

/* preview styles */
/* add max length */

.preview-header {
  font-size: 25px;
  text-align: center;
  padding: 5px 0px; 
  font-family: 'Abel', Helvetica, sans-serif;
}

.preview-header hr {
  text-align: center;
  width: 120px;
}

.preview {
  width: 600px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
}

.preview-info {
  padding: 0px 25px;
}

.preview-name {
  font-family:'Chela One', Helvetica, sans-serif;
  background: url('dimension.png') repeat;
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 3px black;
}

.preview-body {
  background: #ECECEC;
  padding-top: 15px;
  margin-bottom: 20px;
  height: 255px;
}

.preview-age {
  font-family: font-family: 'Abel', Helvetica, sans-serif;;
  font-size: 20px;
  display: inline-block;
}

.preview-job {
  font-family: font-family: 'Abel', Helvetica, sans-serif;;
  font-size: 20px; 
  display: inline-block;
}

.preview-movie {
  font-family: font-family: 'Abel', Helvetica, sans-serif;;
  font-size: 20px; 
  display: inline-block;
}

.preview-hobbies {
  font-family: font-family: 'Abel', Helvetica, sans-serif;;
  font-size: 20px; 
  display: inline-block;
}

.preview-email {
  font-family: font-family: 'Abel', Helvetica, sans-serif;;
  font-size: 20px; 
  display: inline-block;
}
/* button */

.button {
  font-family: 'Chela One', Helvetica, sans-serif;
  color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 0px 2px 3px 0px white;
  margin-left: 40px; 
  text-shadow: 1px 1px 5px grey;
  width: 200px;
  padding: 10px 20px;
  font-size: 25px;
  background: rgb(255, 55, 19);
  border: 1px #FF4B4B solid;
  -webkit-transition: all 1s ease;
}

.button.active {
  position: relative;
}

.button.active:active {
  top: 1px;
  background: rgba(255, 55, 19, 0.7);
  box-shadow: inset 0px 2px 5px #ff5000;
  -webkit-transition: all .3s ease;
}

/* error styles */

.popup-message {
  margin-left: 10px;
  height:114px;
  width:923px;
  vertical-align: center;      
  -webkit-transition:height 1.2s ease;
  background-image:url("alertmessage.png");
}

.warning {
  background: #FBFFA5;
}

/* modal styles */
.modal {
  background: rgba(0,0,0,0.0); 
  z-index:2;
  top: 0; 
  left: 0;
  bottom:0;
  right:0;
  height: 0;
  overflow:hidden;
}

.modal-active {
  position: fixed;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
}

.click-modal {
  width: 240px;
  padding: 5px 40px;

}

.click-modal p {
  font-family: 'Abel', Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin: 0px;
}

.click-modal span {
  font-family: 'Abel', Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.click-modal .click-here {
  color: rgb(47, 47, 121);
  font-weight: bold;
}

.click-modal .click-here:hover {
  color:rgb(137, 137, 255);
}

.modal-box {
  padding: 10px;
  opacity: 0;
  height: 200px;
  width: 400px;
  border-radius: 4px;
  background: rgb(47, 47, 121);
  border: 1px #263168 solid;
  margin: 200px auto 0;
  box-shadow: inset 1px 1px 5px grey;
  -webkit-transition: all .5s ease;
}

.modal-active .modal-box {
  opacity: 1;
}

.modal-box h2 {
  font-family: 'Chela One', Helvetica, sans-serif;
  text-align: center;
  color: rgb(255, 55, 19);
  text-shadow: 1px 1px 2px #3a3535;
  margin: 5px 0px;
  font-size: 30px;
}

.modal-box a {
  color: white;
  font-weight: bold;
}

.modal-box p {
  font-family: 'Abel', Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  color: white;
}

.button-two {
  font-family: 'Chela One', Helvetica, sans-serif;
  color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: inset 0px 2px 3px 0px white;
  margin: 0px 150px;
  text-shadow: 1px 1px 5px grey;
  width: 60px;
  padding: 3px 20px;
  font-size: 20px;
  background: rgb(255, 55, 19);
  border: 1px #FF4B4B solid;
  -webkit-transition: all 1s ease;
  margin-bottom: 20px;
}

.button-two.active {
  position: relative;
}

.button-two.active:active {
  top: 1px;
  background: rgba(255, 55, 19, 0.7);
  box-shadow: inset 0px 2px 5px #ff5000;
  -webkit-transition: all .5s ease;
}

/*user list styles*/

.users-list span {
  font-family: 'Abel', Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 5px 0px;
  font-weight: normal;
}

.users-list span.step {
  font-weight: bold;
}

.users-list hr {
  width:300px;
}

.users-list .list li {
  text-align: left;
}

.list {
  font-family: 'Abel', Helvetica, sans-serif;
  margin: 0px 50px;
}